/*
 * Empty Stylesheet file.
 */

.backgroundBack
{ 
    -fx-background-color: white;
}
.backgroundBackNav
{ 
    -fx-background-color: grey;
}
.backgroundFront
{ 
    -fx-background-color: white;
}
.backgroundFooter
{ 
    -fx-background-color: #382D2D;
    -fx-color: white;
}
.button {
    -fx-background-color: linear-gradient( #91B0D9, #91B0D9);
}

