{% include 'temp1.html.twig' %}
    {{ include('centre_medical/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('centre_medical_index') }}">back to list</a>

    {{ include('centre_medical/_delete_form.html.twig') }}

{% include 'temp2.html.twig' %}
