{% include 'tempFront1MO.html.twig' %}

<section class="services-section hk-section section-bg" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title" id="id">Ordonnances</h2>
            </div>
            <table id="example1" class="table table-bordered table-striped" >
                <tr>
                    <td>id</td>
                    <td> Contenu de l'ordonnance </td>
                    <td> Date du saisi </td>
                    <td> Medicament list </td>
                </tr>
                {% for i in listordonnance%}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.ContenuOrd }}</td>
                        <td>{{ i.DateOrd|date("d/m/Y") }}</td>
                        <td>
                            {% for medicament in i.medicament %}
                                {{ medicament.nomMedicament }}
                            {% endfor %}
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
{% include 'tempFront2MO.html.twig' %}


