<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-col">
                    <h3 class="footer-title">About</h3>
                    <p class="mb-0">Un doute, une inquiétude, besoin d’un conseil santé ? Sa7ti.TN c’est la solution</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="footer-col">
                    <h3 class="footer-title">Products</h3>
                    <ul class="list-unstyled footer-list mb-0">
                        <li><a href="#">CRM</a></li>
                        <li><a href="#">eCommerce</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="footer-col">
                    <h3 class="footer-title">Support</h3>
                    <ul class="list-unstyled footer-list mb-0">
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-col">
                    <h3 class="footer-title">Contact</h3>
                    <p><a href="tel:+14336331111"><i class="fas fa-phone mr-2"></i> +216 00000000</a> </p>
                    <p class="mb-0"><a href="mailto:contact@angrystudio.com"><i class="far fa-envelope mr-2"></i> Sa7tiTN@RuntimeTerror.com</a> </p>
                </div>
            </div>
        </div>
        <div class="row footer-credits">
            <div class="col-sm-12 col-md-6 justify-content-center align-self-center">
                <p class="mb-0">2021 &copy; <a href="#">Sa7ti.TN</a></p>
            </div>
        </div>
    </div>
</footer>
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
<script>
    $(function () {
        'use strict'

        $('[data-toggle="offcanvas"]').on('click', function () {
            $('.hk-offcanvas').toggleClass('open')
        })
    })
</script>
</body>
</html>
