



/* --------------------------------------
 * Global Typography
 *------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', serif;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.7em;
    line-height: 1.3em;
    font-weight: 500;
}

h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

h4 {
    font-size: 1.7em;
    line-height: 1.7em;
    font-weight: 500;
}

h5 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}

h6 {
    font-size: 15px;
    line-height: 17px;
    font-weight: normal;
}


/* --------------------------------------
 * LINK STYLE
 *------------------------------------------*/

a {
    color              : darkred;
    text-decoration    : none;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
}

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
}

a:hover,
a:focus {
    color: darkred;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* --------------------
   Section Background
   -------------------*/

.gray-bg {
    background-color: #f0f1f3;
    padding: 80px 0;
}

.white-bg {
    background-color: #fff;
}


/* --------------------
 *  main Wrapper
 * -------------------*/

.m16 {
    margin-top: 16px;
}

.m30 {
    margin-top: 30px;
}

section {
    margin-top: 30px;
}

.subscribe_section{
    padding: 30px;
}
/* --------------------
   Breadcrumb Section
   -------------------*/

.breadcrumb{
    background-color: #fff;
    text-transform: uppercase;
}
.breadcrumb > li a{
    color: #ccc;
}
.breadcrumb > li + li:before{
    content: "\00BB";
    font-size: 18px;
}
.breadcrumb > .active{
    color: #ccc;
}

/* --------------------
   Header Section
   -------------------*/

.header_section_wrapper{
    margin: 0 !important;
    padding-top: 30px;
}

.header-section .logo {
    text-align: center;
    margin: 0 auto;
}

.header-section .left_section {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.8px;
}

.header-section .date {
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
}

.header-section .time {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 15px;
}

.header-section .social {
    margin-top: 20px;
}

.header-section .social i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.header-section .social i::first-child{
    color: #eee;
}

.right_section .nav {
    float: right;
}

.right_section .lang i {
    margin-left: 5px;
}

.right_section .btn {
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 3px 10px 15px;
}

.right_section .navbar-nav > li:first-child a:after {
    content: " /";
    margin-left: 5px;
}

.right_section .navbar-nav > li:last-child {
    border-bottom: 1px solid #000;
}

.right_section .navbar-nav > li > a {
    padding: 0 6px 15px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #7d7d7d;
    font-size: 12px;
    border-bottom: 1px solid #eee;
}

.right_section .nav-cta {
    float: right;
    top: 45px;
    left: 171px;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #eee;
}

.right_section .nav-cta > li > a {
    display: inline-block;
    color: #333;
    width: 20px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}

.right_section .dropdown-menu {
    left: auto;
    right: 0;
}

.right_section .head-search {
    width: 370px;
}

.right_section .head-search {
    padding: 8px;
}

.right_section .form-control {
    height: 40px;
}

.head-search .btn {
    padding: 11px 20px;
}

.right_section .navbar-nav > li > a:hover,
.right_section .btn:hover {
    color: #3a71b4;
    background-color: #fff;
}

.right_section .lang .dropdown-menu {
    padding: 2px 0;
    margin: 18px 0 0;
    min-width: 50%;
}

.search-menu .search-button {
    margin-top: 10px;
    padding-bottom: 5px;
    color: #000;
    float: right;
    border-bottom: 1px solid #a1a1a1;
}

.search-menu .form-group {
    margin-bottom: 0;
}

.search-menu .input-group .form-control {
    width: 90%;
}

@media screen and (max-width: 768px) {
    .header-section {
        text-align: center;
    }
    .header-section .logo {
        margin-top: 30px;
    }
    .right-menu .navbar-nav li {
        float: left;
        margin: 0 auto;
    }
    .header-section .right_section {
        display: inline-flex;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }
    .header-section .top_menu {
        float: none;
    }
    .header-section .top_menu li {
        float: left;
    }
    .overlay.active {
        background-color: rgba(34, 62, 125, 0.91) !important;
    }
    .header-section .btn {
        margin-top: 19px;
        height: 42px;
    }
    .right-menu .nav {
        float: left;
        margin-top: 20px;
    }
}



/* ---------------------------------------------- /*
 * Feature Tech News
/* ---------------------------------------------- */

.feature_static_last_wrapper {
    margin-top: 30px;
}

.feature_article_inner {
    background: #fff;
    position: absolute;
    bottom: 0;
    padding: 15px 30px;
    left: 10%;
    width: 80%;
}

.feature_article_content {
    margin-top: 10px;
    font-size: 15px;
}

.feature_article_date {
    margin-top: 10px;
}
.article_wrapper{
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .feature_article_title h1 {
        font-size: 15px;
        line-height: 18px;
    }
    .feature_article_date,
    .feature_article_content {
        font-size: 10px;
        line-height: 13px;
    }
    .feature_article_date {
        margin-top: 5px;
    }
    .feature_news_section .feature_news_item {
        margin-bottom: 30px;
    }
    .feature_news_section .feature_article_body {
        width: 85%;
    }
    .feature_article_inner {
        padding: 0 20px 5px;
    }
    .feature_article_wrapper {
        margin-bottom: 30px;
    }
}


/* ---------------------------------------------- /*
 * Category Tech News
/* ---------------------------------------------- */

.article_title {
    background-color: #fff;
    z-index         : 3;
}

.article_title:after {
    position        : relative;
    display         : inline-block;
    bottom          : 35px;
    left            : 25%;
    content         : " ";
    width           : 75%;
    border-top      : 2px solid #eee;
    z-index         : 1;
}

.header_red h2:after {
    display         : table;
    position        : relative;
    left            : 100px;
    bottom          : 10px;
    height          : 2px;
    content         : " ";
    text-shadow     : none;
    width           : 15%;
    background-color: red;
    z-index         : 2;
}

.header_pink h2:after {
    display         : table;
    position        : relative;
    left            : 100px;
    bottom          : 10px;
    height          : 2px;
    content         : " ";
    text-shadow     : none;
    width           : 15%;
    background-color: #ea6060;
    z-index         : 2;
}

.header_blue h2:after {
    display         : table;
    position        : relative;
    left            : 100px;
    bottom          : 10px;
    height          : 2px;
    content         : " ";
    text-shadow     : none;
    width           : 15%;
    background-color: #2196F3;
    z-index         : 2;
}

.header_black h2:after {
    display         : table;
    position        : relative;
    left            : 100px;
    bottom          : 10px;
    height          : 2px;
    content         : " ";
    text-shadow     : none;
    width           : 15%;
    background-color: #000;
    z-index         : 2;
}

.header_orange h2:after {
    display         : table;
    position        : relative;
    left            : 100px;
    bottom          : 10px;
    height          : 2px;
    content         : " ";
    text-shadow     : none;
    width           : 15%;
    background-color: #ff8400;
    z-index         : 2;
}

.category_article_body {
    position        : relative;
    bottom          : 0;
    left            : 0;
    right           : 0;
}
.category_article_list{
    margin-top: 30px;
}
.category_article_wrapper {
    margin-bottom   : 50px;
}

.category_article_image,
.top_article_img {
    margin-bottom   : 15px;
}

.category_article_wrapper .media-heading {
    margin-top      : 5px;
}

.media_social {
    margin-top      : 15px;
    color           : #000;
}

.media_social i {
    margin-right    : 10px;
    color           : #fff;
    width           : 15px;
    height          : 15px;
    line-height     : 15px;
    font-size       : 10px;
    text-align      : center;
    background-color: #a5a5a5;
}

.media_social span {
    color           : #a5a5a5;
    margin-right    : 10px;
    font-size       : 11px;
}

.media_social a {
    font-weight     : bold;
}

.category_article_content {
    margin-top      : 20px;
    font-size       : 15px;
}

.category_article_date:after {
    position        : absolute;
    margin          : 0;
    height          : 1px;
    right           : 25px;
    bottom          : 62%;
    content         : " ";
    width           : 50%;
    background-color: #eee;
}

@media screen and (max-width: 768px) {
    .top_article_img {
        margin-top  : 15px;
    }
    .category_article_date:after {
        position    : relative;
        display     : inline-table;
        left        : 5px;
        bottom      : 3px;
        width       : 40%;
    }
}

.category_article_wrapper .blockquote {
    display         : block;
    background      : #efecec;
    padding         : 25px 0px 25px 45px;
    box-shadow      : none;
    margin-bottom   : 15px;
    position        : relative;
    font-size       : 16px;
    line-height     : 1.2;
    color           : #666;
    width           : 100%;
    float           : left;
    border          : none
}

.category_section {
    margin-top: 20px;
}


.entity_content{
    margin-top: 30px;
    margin-bottom: 30px;
}

.entity_content blockquote {
    display: block;
    padding: 15px 20px 15px 45px;
    margin: 0px 20px 15px 0px;
    position: relative;
    font-size: 25px;
    line-height: 32px;
    color: #666;
    width: 34%;
    border: none ;
    white-space: pre-wrap;
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

.entity_content blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 10px;
    top: 20px;
}

.entity_content blockquote::after {
    content: "";
}

.entity_content blockquote a {
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    padding: 0 3px;
    color: #c76c0c;
}

.entity_content blockquote a:hover {
    color: #666;
}

.entity_content blockquote em {
    font-style: italic;
}

.entity_inner__title {
    background-color: #fff;
    z-index         : 3;
}

.entity_inner__title:after {
    position        : relative;
    display         : inline-block;
    bottom          : 35px;
    left            : 35%;
    content         : " ";
    width           : 65%;
    border-top      : 2px solid #eee;
    z-index         : 1;
}
.entity_inner__title h2:after{
    left: 180px;
}


/* ---------------------------------------------- /*
 * Sidebar Style
/* ---------------------------------------------- */

.widget {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.widget_title {
    background-color: #fff;
    z-index: 3;
}

.widget_title:after {
    position: relative;
    display: inline-block;
    bottom: 35px;
    left: 52%;
    content: " ";
    width: 50%;
    border-top: 2px solid #eee;
    z-index: 1;
}

.widget_red h2:after {
    display: table;
    position: relative;
    left: 45%;
    bottom: 10px;
    height: 2px;
    content: " ";
    text-shadow: none;
    width: 15%;
    background-color: red;
    z-index: 2;
}

.widget i:hover {
    color: #f7510f;
    cursor: pointer;
}

.widget_adv {
    text-align: center;
    margin: 30px;
}

.widget_advertisement {
    text-align: center;
    margin: 30px 0;
}

.widget_body img {
    float: left;
    position: relative;
    margin-right: 25px;
}

.widget .add_img {
    display: inline-block;
    padding: 12px 12px;
}

.widget .media {
    margin-top: 0;
    margin-bottom: 30px;
}

.widget .media-heading {
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 18px;
}

.widget .media-date {
    color: #b2b0b0;
}

.widget_article_social {
    color: #a5a5a5;
    margin-top: 15px;
}

.widget_article_social i {
    padding: 5px;
    margin-right: 5px;
    color: #fff;
    font-size: 10px;
    background-color: #a5a5a5;
}

.widget_article_social span {
    margin-right: 10px;
}

.widget_article_social a {
    font-weight: bold;
}

.widget_img {
    text-align: center;
    margin: 0 auto;
}

.widget .adv_img {
    display: inline-block;
}

.widget_body .btn {
    border-radius: 0;
}

.widget hr {
    border-color: #e0e0e0;
}

.widget-title hr {
    border-width: 4px;
    margin-bottom: 0;
}

.widget-title hr:before {
    width: 80px;
    background-color: #ddd;
    display: block;
    height: 4px;
    position: relative;
    content: "";
    top: -4px;
}
.widget_divider {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    width: 98%;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    font-size: 11px;
}

.widget_divider::after {
    content: '';
    display: block;
    width: 75%;
    left: 0;
    text-align: right;
    position: absolute;
    top: 12px;
    border-top: 1px solid #f1f1f1;
}

/* ---------------------------------------------- /*
 * Divider Style
/* ---------------------------------------------- */

.divider {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    width: 98%;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    font-size: 11px;
}

.divider::after {
    content: '';
    display: block;
    width: 87%;
    left: 0;
    text-align: right;
    position: absolute;
    top: 1em;
    border-top: 1px solid #f1f1f1;
}

.tag {
    padding: 3px 5px;
    font-size: 11px;
    margin:0 2px;
}

.tag a,.tag_lg a {
    color: #fff;
}
.tag a:hover,.tag_lg a:hover {
    color: #fff;
    text-decoration: none;
}

.tag_lg {
    padding: 3px 8px;
    left: 5%;
    text-transform: uppercase;
    bottom: 100%;
    position: absolute;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .tag_lg {
        font-size: 12px;
        padding: 3px 8px;
    }

    .media-body .tag {
        margin-top: 0px;
        padding: 1px 5px;
        display: inline-table;
    }
}

.red-color {
    color: #f72300;
}

.red {
    background-color: #f72300;
    color: #fff;
}

.green {
    background-color: #aac648;
    color: #fff;
}

.blue {
    background-color: #2196F3;
    color: #fff;
}

.pink {
    background-color: #ea6060;
    color: #fff;
}

.black {
    background-color: #000000;
    color: #fff;
}

.orange {
    background-color: #ff8400;
    color: #fff;
}

.purple {
    background-color: #5f35ac;
    color: #fff;
}


/*------------------------------------------------
 pagination style
-----------------------------------------------*/

.pagination_section {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0;
}

.pagination > li > a,
.pagination > li > span {
    color: #101010;
    background-color: #eee;
    border-radius: 0;
    margin-right: 4px;
}

.pagination > li > a:focus,
.pagination > li > a:active {
    background-color: #e25b5b;
}


/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

/* ---------------------------------------------- /*
 * Scroll Top Wrapper
/* ---------------------------------------------- */

.crunchify-top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: red;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 333;
}

.crunchify-top:hover {
    background-color: red;
    color: #fff;
}

.entity_footer {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding-top: 10px;
    padding-bottom: 35px;
    margin-bottom: 30px;
}

.entity_footer .entity_tag span{
    float: left;
    border: 1px solid red;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
    text-transform: uppercase;
}
.entity_footer .entity_tag a{
    color: #7d7d7d;
}
.entity_footer .entity_tag a:hover,.entity_footer .entity_tag a:focus{
    color: #58c4dc;
}
