{% include 'temp1.html.twig' %}
<div style ="margin-left: 1%; padding-top: 5%">


    {{ form_start(formModifierCategorieSoinMP,{'attr': {'novalidate': 'novalidate'}} ) }}

    <h1 style ="margin-bottom: 2%; text-align: center; color: #d11414 ;  " > Modifier Categorie Soins Médecine Parallèle  </h1>
    {# { form_errors(formModifierCategorieSoinMP.libelleCategorieSoinMP) }#}
    {{ form_label(formModifierCategorieSoinMP.libelleCategorieSoinMP,"Titre") }}
    {{ form_widget(formModifierCategorieSoinMP.libelleCategorieSoinMP) }}

    {{ form_end(formModifierCategorieSoinMP) }}
</div>
{% include 'temp2.html.twig' %}