{% extends 'baseOussemaN.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% include 'temp1.html.twig' %}
    {%  for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <h1 style="margin-top: 0% !important;">Nous Contacter</h1>
    {{ form(contactForm) }}
    {% include 'temp2.html.twig' %}
{% endblock %}
