
{% include 'temp1.html.twig' %}


    <h1 style="margin-top: 0% !important;">Create new Service</h1>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('service_index') }}">back to list</a>

{% include 'temp2.html.twig' %}
