{% include 'tempFront1SoinMP.html.twig' %}

<section class="services-section hk-section section-bg" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title" id="id">Reclamation</h2>
            </div>
            <table id="example1" class="table table-bordered table-striped" >

                {% for S in listreclamations %}
                    <tr>

                        <th>Description</th>
                        <td>{{ S.descriptionReclamation }}</td>
                    </tr>
                    <tr>

                        <th>Reponse</th>
                        <td>{{ S.reponse }}</td>
                    </tr>
                {% endfor %}




            </table>
        </div>
    </div>
</section>

{% include 'tempFront2SoinMP.html.twig' %}
