{% include 'tempFront1SoinMP.html.twig' %}

<section class="services-section hk-section section-bg" >
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title" id="id">RECLAMATION EN COURS DE TRAITEMENT</h2>
            </div>




        </div>
    </div>
</section>

{% include 'tempFront2SoinMP.html.twig' %}
