{% include 'templateAccueil.html.twig'  %}




<a href="" class="btn btn-main-outline mt-2" style ="margin-bottom: 20%;margin-top: 8%; width:40%; margin-left:30%;">Ajouter Produit Parapharmaceutique<i class="fas fa-chevron-right"></i></a>
{% include 'templateAccueilFooter.html.twig' %}