{% include 'temp1.html.twig' %}
<div style ="margin-left: 1%; padding-top: 5%">


    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    <h1 style ="margin-bottom: 2%; text-align: center; color: #d11414 ;  " > Ajouter Categorie Post </h1>
    {# { form_errors(form.nomCategoriePost) }#}
    {{ form_label(form.nomCategoriePost,"Nom Categorie Post") }}
    {{ form_widget(form.nomCategoriePost) }}

    {{ form_end(form)  }}
</div>
{% include 'temp2.html.twig' %}